<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Копия Рекомендуемые правила Майкрософт для управляемого кода" Description="Эти правила сосредоточены на важнейших проблемах существующего кода, в том числе на потенциальных уязвимостях безопасности, причинах сбоев приложений и других важных логических ошибках и ошибках проектирования. Следует включать этот набор правил во все пользовательские наборы правил, создаваемые для проектов." ToolsVersion="16.0" />